name: Release Drafter Update
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - '.github/**'
jobs:
  update_release_draft:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@7cf306f56b79636bb76931494ccf29fc893763bd #v6.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}